# notebook deps are self contained
# this file is for automated testing purposes
openai>=1.57.0
tiktoken
langchain
langgraph
langchainhub
langchain-text-splitters
langchain-openai
langchain-redis
langchain-huggingface
llama-index
llama-index-vector-stores-redis
llama-index-embeddings-cohere
llama-index-embeddings-openai
unstructured[pdf]
sentence-transformers
pandas
pdf2image
nbval
redis
redisvl>=0.3.0
pytest
ragas
datasets
scikit-surprise
deepface
pillow
tf-keras
feast[redis]==0.43.0
ipywidgets